@model HomePageViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel="stylesheet" href="~/css/HomePage/styleLast.css">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="icon" href="https://res.cloudinary.com/do2bvloo2/image/upload/v1697470819/yjp8xkz3aewhdtxrzujt.jpg" type="image/x-icon">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="left-navbar-items">
                    <li><a href="#">Home</a></li>
                    <div id="dropdown" class="dropdown" data-user-id="@Model.UserDto.Id">
                        <input type="text" class="form-control navbar-search" id="searchInput" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu" aria-labelledby="searchInput">
                
                        </div>
                    </div>
                    <!--<input class="navbar-search" type="text" placeholder="Search friends..."> -->
                    <button class="navbar-search-button fa-solid fa-magnifying-glass"></button>
                </div>
                <div class="right-navbar-items" id="rightNavbarItems">
                        <div id="rightNavbarItemsDiv">
                            <!--<div class="notification-circle">
                                <div class="notification-count"></div>
                            </div> -->
                            <div>
                                <li type="button" id="showNotifications"><a class="notification-button fa-regular fa-bell"></a></li>
                            </div>
                        </div>
                    <li><a id="nav-profile-photo" data-userName-id="@Model.UserDto.UserName" class="profile-button" href="#"><img src=@Model.UserDto.ProfilePhoto alt="PP" width="30px" height="30px" style="border-radius: 50%"></a></li>
                </div>
                
            </ul>
        </nav>
</header>

    <main>
        <div class="section-post">
            <section class="post">
                <div class="post-box">
                    <textarea id="postArea" placeholder="What do you think?"></textarea>
                    <button class="post-button fas fa-paper-plane" style="font-size:25px;" onclick="AddPost()"></button>
                </div>
                <div class="posts" id="postsContainer">
                    @foreach (var post in Model.Posts)
                    {
                        <div class="post-list" id="post-@(post.Id)">
                            <div class="post-head-items">
                                <div class="left-post-head-items">
                                    <p style="height: 5px;">@post.AuthorUserName</p>
                                    <p style="color: gray; height: 5px;"> @post.PostDate</p>
                                </div>
                                
                                @if (post.AuthorId == Model.UserDto.Id)
                                {
                                    <div class="right-post-head-items">
                                        <p class="post-more-choises" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis more-choises" ></i></p>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item post-dropdown-items" href="#" onclick="DeletePost(@post.Id)">Delete post<i class="fa-solid fa-trash" style="margin-left: 50px; color: #da6c31;"></i></a>
                                        </div>
                                    </div>
                                }
                                </div>
                            <p class="post-content">@post.PostText</p>
                            <h6 style="margin-top: 10px; margin-bottom: 0px">Likes: @post.LikeCount</h6>
                            <hr style="margin-top: 5px; margin-bottom: 10px;">
                            <div class="post-list-like-comment">
                                <button class="like-button fa-solid fa-thumbs-up" data-post-id="@post.Id" data-author-id="@post.AuthorId" onclick="Like()"></button>
                                <button type="button" data-toggle="collapse" data-target="#collapseExample@(post.Id)" aria-expanded="false" aria-controls="collapseExample" class="fa-solid fa-comment" onclick="ShowIsLiked()"></button>
                            </div>
                            <hr style="margin-top: 10px; margin-bottom: 10px;">
                            <div class="textarea-container">
                                <textarea type="text" id="post@(post.Id)" class="input-comment-content"></textarea>
                                <button id="myButton" data-post-author-id="@post.AuthorId" data-post-id="@post.Id" class="fa-regular fa-paper-plane send-comment" onclick="AddComment()"></button>
                            </div>
                            <div id="collapseExample@(post.Id)" class="collapse">
                                @foreach (var comment in @post.Comments)
                                {
                                    <div class="post-comment">
                                        <hr style="margin: 0%;">
                                        <div class="post-comment-head">
                                            <p>@comment.AuthorUserName</p>
                                            <p style="color: gray;">@comment.Date</p>
                                        </div>
                                        <div class="post-comment-content">
                                            <div class="comment">
                                                <p>@comment.CommentText</p>
                                            </div>
                                            <div class="comment-like-button">
                                                <button data-comment-author-id="@comment.AuthorId" data-comment-id="@comment.Id" onclick="LikeComment()" id=@comment.Id class="like-comment fa-regular fa-heart fa-xl"></button>
                                            </div>
                                            <div class="post-comment-like-count">
                                                @comment.LikeCount
                                            </div>
                                            <hr>
                                        </div>
                                        <hr>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <button id="closeConnection"></button>
                    <button id="executeFindRequest">Execute!</button>
                    <div style="height: 12vh;"></div>
                </div>
            </section>
    </div>
        <div class="section-friend">
            <section class="friends">
                <div class="friends-div" id="friendsContainerDiv">
                    <h4 style="color: #ffffff; margin-top: 10px;">Friends</h4>
                    <hr width="100%">
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="friends-container" onclick="StartChat('@friend.Id','@friend.UserName','@friend.FirstName','@friend.LastName')">
                            <div class="friend-pp">
                                <img class="pp-image" src=@friend.ProfilePhoto>
                                <div data-indicator-id ="@friend.UserName" class="indicator"></div>
                            </div>
                            <div class="friend-name">
                                <h5>
                                    @friend.FirstName @friend.LastName
                                </h5>
                                <div id="status-@(friend.UserName)" data-lastseen-id="@friend.UserName" class="friend-lastSeen">
                                    
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
        <div class="notifications-container" id="notificationsContainer">
            <div id="friendRequests" class="friend-requests">
                
            </div>
            <div id="notificationHrContainer" class="notification-hr-container">
            
            </div>
            <div id="activeNotifications" class="notifications">
                <div id="clearNotifications" class="clear-notifications">
                    Clear all
                </div>
            </div>
            <div id="emptyNotifications" class="empty-notifications">
                
            </div>
        </div>
    </main>

<script type="module" src="~/js/HomePage/dropdownScript.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/HomePage/getPostId.js"></script>

<script src="~/js/HomePage/getPostIdForLike.js"></script>

<script src="~/js/HomePage/getCommentIdForLike.js"></script>

<script src="~/js/Post/postScript.js"></script>

<script src="~/js/HomePage/addCommentScript.js"></script>

<script src="~/js/HomePage/responseFriendRequest.js"></script>

<script src="~/js/HomePage/getUserNameScript.js"></script>

<script src="~/js/HomePage/designScript.js"></script>

<script src="~/js/Message/signalrScript.js"></script>

<script src="~/lib/signalr/signalr.js"></script>

<script src="~/js/Message/StartChatScript.js"></script>

<script src="~/js/HomePage/notificationScript.js"></script>

<script src="~/js/HomePage/getConnectionIdScript.js"></script>

<script src="~/js/HomePage/clearNotificationsScript.js"></script>

<script src="~/js/HomePage/notificationCountScript.js"></script>

<script src="~/js/HomePage/deletePostScript.js"></script>

<script src="~/js/HomePage/UserPageScript.js"></script>

<script src="~/js/HomePage/UpdateNotReceivedMessagesScript.js"></script>
</body>
</html>